@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
}
#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  border: none;
  outline: none;
}
input[type='text']:focus{
  outline: none !important;
  border-color: transparent !important;
  outline-offset: 0;
}
.slick-arrow{
  top: 1/2;
  transform: translateY(-100%);
  z-index: 50;
}
.slick-prev{
  left: -5%;
}
.slick-next{
  right: -5%;
}
.slick-prev:before,
.slick-next:before {
    color:black; 
}